@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
     font-family: 'Poppins', sans-serif;
     scroll-behavior: smooth;
}

.header {
    height: 100px;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    z-index: 4;
    top: 0;
    transition: top 0.5s ease-in-out;
    width: 100%;
    transition: background-color 0.4s linear;
}
.header.sticky{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(65, 65, 65);
}
.header.active {
    background-color: transparent;
}
.header.active .logo img{
    display: none;
}
.header.active .search{
    display: none;
}

.logo img{
    height: 100px;
    margin:0 10px 0 40px;
    cursor:pointer;
}

.searchAndMenu {
    display: flex;
 
}
.search-bar{
    display: flex;

}
.search{
    width: 125px;
    z-index: 2;
    background-color: #000000;
    padding:40px 30px 40px 10px;
    display: flex;
    color: #fff;
    cursor:pointer;
}

.inp{
    position: absolute;
    opacity: 0;
    padding:40px 10px 30px 10px;
    background-color: #000000;
    transition: 0.5s;
    height: 30px;
}
.inp input{
    border-radius: 30px;
    height: 20px;
}
.inp.active{
    opacity: 1;
    transform: translateX(-190px);
}



  
.search:hover{
    background-color: #313131;
}

.search img {

    width: 25px;
    height: 25px;
    margin: 0 auto;
    
}

.search h1 {
    font-family: 'Inconsolata', monospace;
    font-size: 22px;
}

.menu{

    width: 125px;
    z-index: 5;
    background-color: #000000;
    padding: 40px 30px;
    cursor: pointer;
    transition: 0.3s;
    color: white;
    display: flex;
    transition: 0.5s;
}

.menu:hover {
    background-color: #313131;
}

.header_burger {
    display: block;
    width:30px;
    height:20px;
    margin-right: 15px;
    position: relative;
    z-index: 3;

}

.header_burger:before,
.header_burger:after {
    content: '';
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 2.5px;
    left: 0;

}

.header_burger span {
    position: absolute;
    left: 0;
    background-color: white;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
}

.header_burger:before {
    top: 0;
    transition: all 0.3s ease 0s;

}

.header_burger:after {
    bottom: 0;
    transition: all 0.3s ease 0s;

}

.header_burger.active:before {
    transform: rotate(45deg);
    top: 9px;
}
.menu.active {
    background-color: transparent;
 
}

.header_burger.active span{
    transform: scale(0);
}

.header_burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
}

.menu h1{
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    margin-top: -3px;
    
}
.BigMenu{
    z-index: 2;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;

    overflow: auto;
    text-align: center;
    transition: all 0.3s ease 0s;
    background-color: rgb(27, 34, 31);
}

.BigMenu.active{
    top: 0;
}
.nav{
    list-style-type: none;
}
.nav a{
   font-size: 50px;
    text-decoration: none;
    color: white;
}
.nav a:hover{
    color:#aaaaaa
}
.nav li{
    margin: 50px auto;
}
.main{
    font-family: 'Poppins', sans-serif;
}

.text{
    margin: 250px auto 0 auto;
    text-align: center;
   
    letter-spacing: 1.5px;
    word-spacing: 3px;
}
.text h1{
    margin:0 auto;
    font-size: 50px;
    width: 700px;
    margin-bottom:40px;
}
.text h2{
    color: black;
    margin:0 auto;
    letter-spacing: 1px;
    word-spacing: 2px;
    font-size: 30px;
    width: 500px;
}
.exploreBtn {
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    margin: 60px auto;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
  }
  
  .button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
  
  .button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
  }
.wrapper{
    height: 1000px;
    background-image: linear-gradient(transparent 50px, white), url("https://upload.wikimedia.org/wikipedia/commons/2/2a/Suleyman_Demirel_University_-_Outside_view.jpg");
    background-position: center;
    background-size: cover;
 
}
.library{
    height: 1000px;
    border-bottom: 40px solid rgba(191, 57, 43, 1);
    background-image: linear-gradient(to bottom, rgb(255, 255, 255) 10%, rgb(255, 255, 255) calc(50% - 400px), transparent calc(50% - 10px), transparent calc(50% + 30px), #BF392B calc(50% + 500px)), url("https://sdu.edu.kz/wp-content/uploads/2019/10/AS_-12.jpg");
    background-position: center;
    background-size: cover;

}
.desk a{
    color:black;

    text-decoration: none;
}
.desk a h1{
    
    text-align: center;
    font-size: 75px;
}
.desk h2{
    color: black;
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
    width: 700px;
    margin-bottom: 40px;
}
.image-container{
    margin: 0 auto;
    height: auto;

    position: relative;
}
.image-container img{
    max-width: 800px;
    max-height: 400px;
    cursor: pointer;
}
.transition-image{
    position: absolute;
    top:0px;
    left: 0px;
    opacity:0;
    transition: opacity 0.5s ease;
}
.transition-image:hover{
    opacity: 1;
}
.about{
    display: flex;
    justify-content: space-between;
}
.aboutLibrary{
    margin: 0 auto;
}
.aboutLibrary h1{
    color:rgb(0, 10, 143);
}
.aboutLibrary hr{
    border: 1px solid #BF392B;
    background-color: #BF392B;
    margin: 20px auto;
}
.aboutLibrary p{
    color:rgb(218, 218, 218);
    font-size: 18px;
    width: 400px;
    background-color: rgba(11, 0, 165, 0.6);
    padding: 20px;
    border-radius: 50px;
}
.redCanteen{
    height: 700px;
    background-image: linear-gradient(rgba(191, 57, 43, 0.8) , rgba(0, 0, 0, 1)),url("https://zhudysblog.files.wordpress.com/2019/03/whatsapp-image-2019-03-11-at-22.15.05.jpeg");
    background-position: center;
    background-size: cover;
}
.redCanteen h1{
    font-size: 50px;
    padding-top: 100px;
    padding-bottom: 60px;
}
.redCanteen h1, h2{
    margin: 0 auto;
    text-align: center;
    color: #fff;
}
.redCanteen h2{
    font-size: 40px;
    padding-bottom: 60px;
}
.st11{fill:white;stroke:#000000;stroke-width:5;}
.st12{fill:none;stroke:#000000;stroke-width:2;}
.st13{fill:none;stroke:#000000;stroke-width:3;}
.st14{fill:none;stroke:#000000;stroke-width:4;}
.st10{fill:none;stroke:#000000;stroke-width:2;}
.st15{fill:none;stroke:#000000;}

.st0, .st1, .st2, .st3,.st4, .st5, .st16 {
    fill: transparent;
    stroke: #000000;
    stroke-width: 0;
    transition: 1s;
}
.st16{
    stroke-width: 100px;
}
 .st6, .st7, .st8, .st9{
    fill: transparent;
    stroke: #000000;
    stroke-width: 3px;
    transition: 1s;
}

.st0:hover, .st1:hover, .st2:hover, .st3:hover, .st4:hover, .st5:hover, .st6:hover, .st7:hover, .st8:hover, .st9:hover, .st16:hover {
    fill: rgb(170, 231, 255);
    cursor: pointer;
}
.karta{
    background-image: linear-gradient(rgba(0, 0, 0, 1) , rgba(0, 3, 158, 0.7)),url("https://i.pinimg.com/736x/d2/66/73/d26673d6106e11fa1f402fe0124c174c.jpg");
    background-position: center;
    background-size: cover;
    text-align: center;

}
.karta h1{
    margin: 0 auto;
    padding-top: 150px;
    color: white;
    width:500px;
}
@media (max-width:1120px){
    .image-container img{
        margin-top: 100px;
        max-width: 450px;
        max-height: 250px;
        cursor: pointer;
    }
    .desk a h1{
        font-size: 50px;
    }
    .desk h2{
    
        font-size: 25px;
        
    }
}
@media (max-width:910px){
    .image-container img{
        margin-top: 150px;
        max-width: 400px;
        max-height: 225px;
        cursor: pointer;
    }
    .desk a h1{
        font-size: 50px;
    }
    .desk h2{
    
        font-size: 25px;
        
    }

    .aboutLibrary hr{
        border: 1px solid #BF392B;
        background-color: #BF392B;
        margin: 20px auto;
    }
    .aboutLibrary p{
        color:rgb(218, 218, 218);
        font-size: 15px;
        width: 275px;
        background-color: rgba(11, 0, 165, 0.6);
        padding: 20px;
        border-radius: 50px;
    }
}
@media (max-width:760px){
    #enum, #srch{
        display: none;
    }
  
    .search{
        padding: auto;
    }
    .menu, .search{
       
        width: fit-content;
    }
    .logo{
        opacity: 0;
        width: 0px;
    }
    .about{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .image-container img{
        margin-top: 150px;
        max-width: 300px;
        max-height: 225px;
        cursor: pointer;
    }
    .desk a h1{
        font-size: 50px;
    }
    .desk h2{
    
        font-size: 25px;
        
    }

    .aboutLibrary hr{
        border: 1px solid #BF392B;
        background-color: #BF392B;
        margin: 20px auto;
    }
    .aboutLibrary p{
        margin: 0 auto;
        text-align: center;
    }
    .karta h1{
        font-size: 25px;
    }
    .nav a{
        font-size: 30px;
         
     }
}
@media (max-width:500px){
    #enum, #srch{
        display: none;
    }
  
    .search{
        padding: auto;
    }
    .menu, .search{
       
        width: fit-content;
    }
    .logo{
        opacity: 0;
        width: 0px;
    }
    .about{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .image-container img{
        margin-top: 150px;
        max-width: 300px;
        max-height: 225px;
        cursor: pointer;
    }
    .desk a h1{
        font-size: 40px;
    }
    .desk h2{
    
        font-size: 22px;
        width: 200px;
        
    }

    .aboutLibrary hr{
        border: 1px solid #BF392B;
        background-color: #BF392B;
        margin: 20px auto;
    }
    .aboutLibrary p{
        margin: 0 auto;
        text-align: center;
    }
    .karta h1{
        font-size: 20px;
        width: 200px;
    }
    .nav a{
        font-size: 30px;
         
     }
     .text strong{
         font-size: 30px;
         margin: 0 200px 0 0
     }
     .text h2{
        font-size: 20px;
        width: 300px;
    }
    .redCanteen h1, .redCanteen h2{
        font-size: 28px;
    }
}
@media (max-width:400px){
    #enum, #srch{
        display: none;
    }
    strong{
        display: none;
    }
    .search{
        padding: auto;
    }
    .search, .inp{
        margin-left: 210px;
    }
    .menu, .search{
       
        width: fit-content;
    }
    .logo{
        display: none;
        width: 0px;
    }
    .about{
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .image-container img{
        margin-top: 150px;
        max-width: 300px;
        max-height: 225px;
        cursor: pointer;
    }
    .desk a h1{
        font-size: 40px;
    }
    .desk h2{
    
        font-size: 22px;
        width: 200px;
        
    }

    .aboutLibrary hr{
        border: 1px solid #BF392B;
        background-color: #BF392B;
        margin: 20px auto;
    }
    .aboutLibrary p{
        margin: 0 auto;
        text-align: center;
    }
    .karta h1{
        font-size: 20px;
        width: 200px;
    }
    .nav a{
        font-size: 30px;
         
     }
     .text strong{
         font-size: 30px;
         margin: 0 200px 0 0
     }
     .text h2{
        font-size: 20px;
        width: 300px;
    }
    .redCanteen h1, .redCanteen h2{
        font-size: 28px;
    }
}